@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hideScroll {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;

  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}
